@import "compass";
@import "settings";

.feed-sidebar {
  padding: 20px;

  > h2 {
    font-size: 12px;
    color: #555;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 10px 0;
    font-weight: bold;
  }
}

.feed-groups {
  list-style: none;
  padding: 0;

  li {
    line-height: 28px;
    max-height: 28px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &.active a {
      color: black;
      font-weigth: bold;
    }

    a {
      font-size: 12px;
      color: #555;
      white-space: nowrap;
      cursor: pointer;

      &:hover {
        text-decoration: none;
        color: #000;

        .group-icon {
          @include opacity(1);
        }
      }

      .group-icon {
        @include opacity(.85);

        width: 16px;
        height: 16px;
      }
    }
  }
}

.feed-content {
  background: white;
  height: 100%;
  min-heigth: 100%;
}

.message-header {
  display: block;
  margin-bottom: 10px;
  height: 50px;

  .picture {
    width: 42px;
    float: left;
    margin-right: 10px;

    img {
      @include border-radius(50%);

      width: 100%;
    }
  }

  .text {
    text-align: left;
    float: left;
    font-size: 16px;

    em {
      color: $default-gray;
      display: block;
      font-size: 12px;
    }
  }
}

.message-item {
  border-bottom: 1px solid $default-gray;
  background: white;
  padding: 20px;
  word-wrap: break-word;
  overflow: hidden;
  overflow-wrap: break-word;
  text-wrap: avoid;
  margin-bottom: 20px;
}

.message-text {
  > p {
    margin-bottom: 20px;
  }
}

.message-picture {
  border: 1px solid $default-gray;
  display: block;
  text-align: center;

  a:hover {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    display: inline-block;
  }
}

.message-picture-text {
  padding: 10px;
  display: block;
  background: #f5f5f5;
  text-align: left;
  border-top: 1px solid $default-gray;

  .name, .description, .caption {
    display: block;
  }

  .name {
    font-weight: bold;
    color: $brand-primary;
  }

  .description, .caption {
    color: #999;
    font-size: 12px;
  }
}

.message-comments {
  background: #f5f5f5;
  border: 1px solid #E9E9E9;
  margin: 20px -20px 0 -20px;
  padding: 10px 20px 0 20px;

  ul li {
    border-top: 1px solid $default-gray;
    padding: 10px 0;

    &:first-child {
      border-top: none;
    }

    strong {
      color: $brand-primary;
    }

    em {
      font-size: 12px;
      color: $default-gray;
    }

    p {
      font-size: 12px;
    }
  }
}

.comment-left {
  width: 46px;
  float: left;

  a {
    width: 42px;

    img {
      width: 100%;
    }
  }
}

.comment-text {
  float: left;
}
