@import "settings";
@import 'sass-bootstrap/lib/bootstrap';

body.feed {
  padding-top: 70px;

  .navbar a {
    cursor: pointer;
  }
}

.message-header {
  display: block;
  margin-bottom: 10px;
  height: 50px;

  .picture {
    width: 42px;
    float: left;
    margin-right: 10px;

    img {
      width: 100%;
    }
  }

  .text {
    text-align: left;
    float: left;
    font-size: 16px;

    em {
      color: $default-gray;
      display: block;
      font-size: 12px;
    }
  }
}

.message-item {
  border: 1px solid $default-gray;
  background: white;
  padding: 20px;
  word-wrap: break-word;
  overflow: hidden;
  overflow-wrap: break-word;
  text-wrap: avoid;
  margin-bottom: 20px;
}

.message-text {
  img {
    max-width: 100%;
    border: 1px solid $default-gray;
    display: inline-block;
    margin-bottom: 20px;
  }
}

.message-comments {
  background: #f5f5f5;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 20px;
  padding: 10px 20px 0 20px;

  ul li {
    border-top: 1px solid $default-gray;
    padding: 10px 0;

    &:first-child {
      border-top: none;
    }

    strong {
      color: $brand-primary;
    }

    em {
      font-size: 12px;
      color: $default-gray;
    }

    p {
      font-size: 12px;
    }
  }
}

.comment-left {
  width: 46px;
  float: left;

  a {
    width: 42px;

    img {
      width: 100%;
    }
  }
}

.comment-text {
  float: left;
}
