$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import "settings";
@import "login";
@import "feed";
@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body, html {
  height: 100%;
  min-height: 100%
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: $default-gray;
}
