<div class="container">
  <div class="header">
    <h3 class="text-muted">facegroup</h3>
  </div>

  <div class="row" ng-controller="GroupCtrl">

    <div class="col-md-4">
      <div class="list-group">
        <a ng-repeat="group in groups" ng-click="showFeed(group)" class="list-group-item"> <img ng-src="{{group.icon}}" /> &nbsp; {{group.name}}</a>
      </div>
    </div>

    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">{{groupFeed.name || "Group Feed"}} <span class="badge">{{groupFeed.totalMessages}}</span></div>
        <div class="panel-body">

          <div class="thumbnail" ng-repeat="message in groupFeed.feed">
            <a ng-show="message.picture"  href="{{message.full_picture}}"><img ng-src="{{message.full_picture}}" alt="Image from {{message.from.name}}" width="100%" /></a>
            <div class="caption">
              <h3>{{message.from.name}} posted:</h3>
              <p>{{message.message}}</p>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
