<div ng-controller="GroupCtrl">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <ul class="list-unstyled">
            <li ng-repeat="group in groups"><a ng-href="#/feed/{{group.id}}"><img ng-src="{{group.icon}}" class="img-rounded" /> &nbsp; {{group.name}}</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-8">

        <div class="well panel text-center" ng-hide="groupFeed.feed.length > 0">
          {{groupLoading || 'Select a group to read'}}
        </div>

        <div class="well" ng-show="groupFeed.name">{{groupFeed.name}} &nbsp; <span class="badge">{{groupFeed.totalMessages}}</span></div>

        <div class="message-item" ng-repeat="message in groupFeed.feed">

          <div class="message-header">
            <div class="picture">
              <img ng-src="http://graph.facebook.com/{{message.from.id}}/picture" alt="{{message.from.name}}'s photo" />
            </div>

            <div class="text">
              <strong>{{message.from.name}}</strong>
              <em am-time-ago="message.updated_time"></em>
            </div>

            <div class="pull-right">
              <span class="label label-primary" ng-show="message.likes.data.length > 0">{{message.likes.data.length}} likes</span>

              <span class="label label-primary text-center"><a href="https://www.facebook.com/{{message.id}}" class="white" target="_blank"><i class="glyphicon glyphicon-new-window white"></i> direct</a></span>

            </div>
          </div>

          <div class="message-text">
            <p ng-show="message.message" ng-bind-html="message.message | nl2brLinky"></p>

            <div class="message-picture" ng-show="message.picture || message.link">
              <a href="{{message.link}}" handle-video-embed>
                <div class="picture"><img ng-src="{{message.full_picture}}" alt="Image from {{message.from.name}}" /></div>

                <div class="message-picture-text" ng-show="message.type == 'link' || message.type == 'video'">
                  <span class="name" ng-show="message.name">{{message.name}}</span>
                  <span class="description" ng-show="message.description">{{message.description}}</span>
                  <span class="caption" ng-show="message.caption">{{message.caption}}</span>
                </div>
              </a>
            </div>

          </div>

          <div class="message-comments" ng-show="message.comments.data.length > 0">
            <ul class="list-unstyled">
              <li ng-repeat="comment in message.comments.data">
                <strong>{{comment.from.name}}</strong> <em am-time-ago="comment.created_time"></em> <span class="badge badge-secondary" ng-show="comment.like_count > 0">{{comment.like_count}} likes</span><br />
                <p ng-bind-html="comment.message | nl2brLinky"></p>
              </li>
            </ul>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
